@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Faustina:wght@300&family=Marck+Script&family=Pacifico&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Faustina', sans-serif;
}

html{
    font-size: 10px;
}

body{
    text-align: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}
h1{
    color: #231709;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    text-align: center;
    }
    h4{
    color:#4B371C;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    }
    
    .image{
        margin-top: 8rem;
        margin-bottom: 400;
        text-align: center;
    }
    
    p{
        font-size: 2rem;
        color: #A52A2A;
        line-height: 5rem;
        margin-bottom: 5rem;
        text-align: center;
    }
    .btn{
        display: inline-block;
        padding: 2.7rem 7.5rem;
        background: #4B371C;
        font-size: 2rem;
        text-decoration: none;
        color: #231709;
        border-radius: 10px;
        transition: background 0.5s;
        text-align: center;
    
    }
    
    .btn:hover{
        background: #A52A2A;
        text-align: center;
    }